@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --hue: 250; 
    --cor-principal: hsl(var(--hue), 22%, 20%);
    --cor-complementar: hsl(var(--hue), 0%, 100%);
    --cor-secundaria: hsl(var(--hue), 50% , 80%);
    --cor-dark: hsl(var(--hue), 100% , 11%);
    --font-geral: 'Epilogue' Sans-serif;
    --size-flex: clamp(3rem, 0.5rem + 3.5vw, 4rem)
}

body{
    font-family: var(--font-geral) ;
    color: var(--cor-complementar);

    background-color: var(--cor-principal);
    font-size: 1.6rem;
}
.pag{
    max-width:clamp (33rem, 30rem + 60vw, 117rem);
    margin: auto;
    padding: 0 5rem;
}

img{
    width: 100%;
    height: auto;
}

header{
    text-align: center;
    margin: 10rem 0rem 8rem;
    animation: movimento .6s .45s forwards;
}

header h1{
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.8rem;
}

header p {
    color: var(--cor-secundaria);
    text-transform: uppercase;
    
    line-height: 3.2rem;
    letter-spacing: 3px;

    margin-bottom: 1.7rem;
}

.cards img{
    height: 41.6rem;
    object-fit: cover;
    
    border-radius: .6rem;
    
    transition: all .3s;
    transition-timing-function:ease-in ;

    filter:blur(2px)
}

.cards img:hover{
    transform: scale(1.1);
    opacity: 0.45;
    cursor:pointer;
    filter:blur(0px);
}

.cards{
    position:relative;
    animation: cardMovimento .7s .45s forwards;
    transition-timing-function: ease-out;
}

.cards h2{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;

    
    position: absolute;
    bottom: 5.2rem;
    left: 2.8rem;

    font-size: var(--size-flex);
    font-weight: 800;
}

.cards h2 span {
    width: -moz-fit-content;
    width: fit-content;
    height: 3.8rem;
    
    color: var(--cor-dark);
    font-weight: 800;
    font-size: 1.6rem;
    background-color: var(--cor-complementar);
    
    padding: 0 1.6rem;
    border-radius: 2rem;
    
    display: inline-flex;
    align-items: center;
    
}

main { 
    display: grid;
    gap: 3.2rem;
    padding-bottom: 10rem; 
}

@keyframes movimento {
    0% {
        opacity: 0;
        transform: translateY(-2rem);
    }

    50%{
        opacity: .5;
        transform: translateY(4rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes cardMovimento{
    0%{
        opacity: 0;
        transform: translateY(2rem); 
    }

    50%{
        opacity: .5;
        transform: translateY(4rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0rem);
    }
}

@media (min-width: 700px) {

    header h1 {
        font-size: 5.6rem;
    }

    main{
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 930px){
    main {
    grid-template-areas: "A B B"
    "C C D";
  }

  main div:nth-child(1) {
    grid-area: A;
  }

  main div:nth-child(2) {
    grid-area: B;
  }

  main div:nth-child(3) {
    grid-area: C;
  }

  main div:nth-child(4) {
    grid-area: D;
  }
}